@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&display=swap');

:root {
    --black-bean: #3c1518ff;
    --blood-red: #69140eff;
    --brown: #a44200ff;
    --bronze: #d58936ff;    
    --texto: "Josefin Sans"
    --título: "Lobster"
}