@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&display=swap');

:root {
    --black-bean: #3c1518ff;
    --blood-red: #69140eff;
    --brown: #a44200ff;
    --bronze: #d58936ff; 
    --preto: #000000   
    --texto: "Josefin Sans", sans-serif;
    --título: "Lobster", sans-serif;
}
body{
   background-color: var(--brown) ;
   font-family: var(--texto);
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
main{
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}
button{
    font-family: var(--título);
    background-color: var(--bronze);
    color: var(--preto);
    border: 2px solid var(--blood-red);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}
button:hover{
    background-color: var(--bronze);
    color: var(--blood-red);
    transition: 0.5s;
}

.passo{
    font-size: 24px;
    display: none;
}

.passo.ativo{
    display: block;
}